body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: carmine;
    font-size: 32px;
    margin: 0 0 10px;
  }
  
  .slogan {
    color: ThulianPink;
    font-size: 20px;
    margin: 0 0 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
  }
  
  button[type="submit"] {
    background-color: rgb(108, 7, 7);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  